@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./images/image1.png');
  background-repeat: no-repeat;
  background-position: center;
  position: relative; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .bgImgCenter{
  background-image: url('./images/3334896.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
} */


.glasseffect {
  background: rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(2, 2, 2, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
  border-radius: 16.058px;
  position: relative;
} 

.transform-img {
  outline: 3px solid rgba(255, 255, 255, .75);
  border-radius: 16.058px;
  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
  position: relative;
  z-index: 1;
}